html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  position: relative;
  -webkit-box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
          box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

header > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-text {
  font-size: 14px;
  color: #f6af45;
}

@media screen and (min-width: 571px) {
  .logo-text {
    font-size: 36px;
  }
}

@media screen and (min-width: 922px) {
  .logo-text {
    font-size: 42px;
  }
}

.logo-wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px 0;
}

@media screen and (min-width: 571px) {
  .logo-wrap a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.search-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
  width: 40%;
}

@media screen and (min-width: 570px) {
  .search-wrap {
    position: static;
    opacity: 1;
  }
}

.search-form {
  position: relative;
  margin-right: 10px;
  width: 100%;
}

.search-input {
  min-width: 150px;
  width: 100%;
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  border: 1px solid #dcdcdc;
}

@media screen and (max-width: 420px) {
  .search-input {
    display: none;
  }
}

.search-input:focus {
  -webkit-box-shadow: 0px 0px 5px #f6af45;
          box-shadow: 0px 0px 5px #f6af45;
  outline: none;
}

.submit-search {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding: 0 10px;
  border: none;
  background-color: #dcdcdc;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.submit-voice {
  padding: 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box-bell, .box-pawprint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.box-pawprint {
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-color: #f6af45;
  border-radius: 50%;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.dropdown-menu-item {
  position: relative;
}

.dropdown-menu-item:hover > .box-pawprint,
.dropdown-menu-item:focus > .box-pawprint {
  background-color: #b4b3b3;
}

.dropdown-menu-item:hover > .dropdown-menu,
.dropdown-menu-item:focus > .dropdown-menu {
  opacity: 1;
  pointer-events: visible;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  border: 1px solid #b4b3b3;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
  background-color: #fff;
  pointer-events: none;
  z-index: 1;
}

.dropdown-menu-item {
  padding-bottom: 5px;
}

.dropdown-menu > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  color: #212121;
  border-bottom: 1px solid #b4b3b3;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.dropdown-menu > li > svg {
  margin-right: 10px;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.dropdown-menu > li > a {
  color: inherit;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.dropdown-menu > li:hover,
.dropdown-menu > li:focus {
  background-color: #b4b3b3;
}

.dropdown-menu > li:hover > svg,
.dropdown-menu > li:focus > svg {
  fill: #ff0000;
}

.dropdown-menu > li:hover > a,
.dropdown-menu > li:focus > a {
  color: #ff0000;
}

.dropdown-menu > li:last-child {
  border-bottom: none;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #212121;
  font-family: Raleway, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  position: relative;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.container {
  padding: 0 15px;
}

aside {
  max-width: 280px;
  width: 16%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container.content {
  width: 84%;
  padding: 15px;
}

@media screen and (max-width: 1199px) {
  .section.slider {
    display: none;
  }
}

.users-list {
  background-color: #ebebeb;
  border-bottom: 1px solid #fff;
  overflow: auto;
  overflow-y: scroll;
  height: 100%;
}

.users-list::-webkit-scrollbar {
  display: none;
}

.users-list > li {
  padding: 20px 15px;
}

.users-list > li:hover {
  background-color: #dfdfdf;
}

@media screen and (max-width: 921px) {
  .users-list > li {
    padding: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.user-details {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.user-details > .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 35px;
  height: 35px;
  background-color: #fff;
  border-radius: 50%;
}

@media screen and (min-width: 570px) {
  .user-details > .icon {
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 922px) {
  .user-details > .icon {
    margin-right: 15px;
  }
}

.user-details > .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 921px) {
  .user-details > .name {
    display: none;
  }
}

@media screen and (max-width: 922px) {
  .user-details > .status {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .user-details > .status {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateX(150%);
            transform: translateX(150%);
    opacity: 0;
    background-color: #fff;
    z-index: 9;
    padding: 3px;
    -webkit-transition: all 250ms linear;
    transition: all 250ms linear;
    pointer-events: none;
  }
  .user-details:hover .status,
  .user-details:focus .status {
    opacity: 1;
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .user-details > li:last-child {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .user-details .status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
}

.social-links {
  padding: 20px;
  background-color: #ebebeb;
}

@media screen and (max-width: 921px) {
  .social-links {
    padding: 0;
  }
}

.social-contacts li:not(:last-child) {
  margin-bottom: 15px;
}

.social-contacts a {
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.social-contacts a:hover,
.social-contacts a:focus {
  fill: #f6af45;
}

@media screen and (min-width: 1200px) {
  .social-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  .social-contacts li:not(:last-child) {
    margin-bottom: 0;
  }
}

.pulse {
  background: #ff0000;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.6);
          box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.6);
  margin: 5px;
  height: 10px;
  width: 10px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: pulse-red 2s infinite;
          animation: pulse-red 2s infinite;
}

@-webkit-keyframes pulse-red {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.6);
            box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.6);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 3px rgba(255, 99, 71, 0.6);
            box-shadow: 0 0 0 3px rgba(255, 99, 71, 0.6);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.6);
            box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.6);
  }
}

@keyframes pulse-red {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.6);
            box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.6);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 3px rgba(255, 99, 71, 0.6);
            box-shadow: 0 0 0 3px rgba(255, 99, 71, 0.6);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.6);
            box-shadow: 0 0 0 0 rgba(255, 99, 71, 0.6);
  }
}

.social-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 25px;
  background-color: #dfdfdf;
}

.social-box p {
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (max-width: 921px) {
  .social-box p {
    display: none;
  }
}

.social-box p::-moz-selection {
  background-color: #f6af45;
}

.social-box p::selection {
  background-color: #f6af45;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: auto;
  overflow-x: scroll;
  scrollbar-width: none;
}

.filter::-webkit-scrollbar {
  display: none;
}

.filter li:first-child button {
  background-color: #f6af45;
  border: 1px solid #f6af45;
  color: #fff;
}

.filter li:not(:last-child) {
  margin-right: 20px;
}

.filter button {
  padding: 6px 15px;
  border-radius: 15px;
  font-weight: 700;
  cursor: pointer;
  background-color: #ebebeb;
  border: 1px solid #b4b3b3;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.filter button:hover,
.filter button:focus {
  background-color: #f6af45;
  border: 1px solid #f6af45;
  color: #fff;
}

video,
iframe {
  width: 100%;
  height: 100%;
  min-height: 230px;
}

.video-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

@media screen and (max-width: 420px) {
  .video-list {
    -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.video-content {
  padding: 15px 15px 0 5px;
}

.video-content > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.video-content > ul li:first-child {
  margin-right: 15px;
}

.video-content > ul li:last-child {
  margin-left: auto;
}

.video-content h2,
.video-content p {
  color: #828282;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-content h2 {
  color: #000;
  font-size: 18px;
}

.dots {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}

.dots:before, .dots:after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000;
}

.dots::before {
  top: 130%;
}

.dots:after {
  bottom: 130%;
}

.preview {
  position: relative;
  min-height: 230px;
}

.preview:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.poster-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.img-chek {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

.img-chek:checked {
  display: none;
}

.img-chek:checked + .poster-box,
.img-chek:checked ~ .overlay {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 60, 80, 0.4);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 250ms linear;
  transition: all 250ms linear;
}

.icon-pawprint-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: #fff;
}

.live {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 0 6px;
  border-radius: 3px;
  background-color: #ff0000;
  text-transform: uppercase;
  color: #fff;
  z-index: 1;
}

.viewers-count,
.time-info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0 10px;
  border-radius: 3px;
  background-color: rgba(34, 60, 80, 0.6);
  color: #fff;
  z-index: 1;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 15px;
}

footer p {
  margin-right: 15px;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 HTML Settings
2.0 General Settings
3.0 Heading 2
4.0 Serif
5.0 Heading 3
6.0 Text
7.0 Links
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 HTML settings
--------------------------------------------------------------*/
html {
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highwhite-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*--------------------------------------------------------------
7.0 Links
--------------------------------------------------------------*/
.link {
  position: relative;
  display: inline-block;
  font-weight: 600;
}

.link:after {
  position: absolute;
  top: 50%;
  right: -32px;
  display: block;
  width: 24px;
  height: 14px;
  background-image: url("../images/slider/arrow__right--blue.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  content: "";
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.link:hover:after {
  right: -48px;
}

.slider__item {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#slide-1:checked ~ .slider__holder .slider__item--1 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

#slide-2:checked ~ .slider__holder .slider__item--1 {
  z-index: 1;
  -webkit-transform: translateX(-100px) scale(0.85);
          transform: translateX(-100px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-2:checked ~ .slider__holder .slider__item--1 {
    opacity: 0.6;
  }
}

#slide-3:checked ~ .slider__holder .slider__item--1 {
  z-index: 0;
  -webkit-transform: translateX(-210px) scale(0.65);
          transform: translateX(-210px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-3:checked ~ .slider__holder .slider__item--1 {
    -webkit-transform: translateX(-170px) scale(0.65);
            transform: translateX(-170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--1 {
    opacity: 0;
  }
}

#slide-4:checked ~ .slider__holder .slider__item--1 {
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateX(-210px) scale(0.65);
          transform: translateX(-210px) scale(0.65);
}

#slide-5:checked ~ .slider__holder .slider__item--1 {
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateX(-210px) scale(0.65);
          transform: translateX(-210px) scale(0.65);
}

#slide-1:checked ~ .slider__holder .slider__item--2 {
  z-index: 1;
  -webkit-transform: translateX(100px) scale(0.85);
          transform: translateX(100px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-1:checked ~ .slider__holder .slider__item--2 {
    opacity: 0.6;
  }
}

#slide-2:checked ~ .slider__holder .slider__item--2 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

#slide-3:checked ~ .slider__holder .slider__item--2 {
  z-index: 1;
  -webkit-transform: translateX(-100px) scale(0.85);
          transform: translateX(-100px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--2 {
    opacity: 0.6;
  }
}

#slide-4:checked ~ .slider__holder .slider__item--2 {
  z-index: 0;
  -webkit-transform: translateX(-210px) scale(0.65);
          transform: translateX(-210px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-4:checked ~ .slider__holder .slider__item--2 {
    -webkit-transform: translateX(-170px) scale(0.65);
            transform: translateX(-170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-4:checked ~ .slider__holder .slider__item--2 {
    opacity: 0;
  }
}

#slide-5:checked ~ .slider__holder .slider__item--2 {
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateX(-210px) scale(0.65);
          transform: translateX(-210px) scale(0.65);
}

#slide-1:checked ~ .slider__holder .slider__item--3 {
  z-index: 0;
  -webkit-transform: translateX(210px) scale(0.65);
          transform: translateX(210px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-1:checked ~ .slider__holder .slider__item--3 {
    -webkit-transform: translateX(170px) scale(0.65);
            transform: translateX(170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-1:checked ~ .slider__holder .slider__item--3 {
    opacity: 0;
  }
}

#slide-2:checked ~ .slider__holder .slider__item--3 {
  z-index: 1;
  -webkit-transform: translateX(100px) scale(0.85);
          transform: translateX(100px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-2:checked ~ .slider__holder .slider__item--3 {
    opacity: 0.6;
  }
}

#slide-3:checked ~ .slider__holder .slider__item--3 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

#slide-4:checked ~ .slider__holder .slider__item--3 {
  z-index: 1;
  -webkit-transform: translateX(-100px) scale(0.85);
          transform: translateX(-100px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-4:checked ~ .slider__holder .slider__item--3 {
    opacity: 0.6;
  }
}

#slide-5:checked ~ .slider__holder .slider__item--3 {
  z-index: 0;
  -webkit-transform: translateX(-210px) scale(0.65);
          transform: translateX(-210px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-5:checked ~ .slider__holder .slider__item--3 {
    -webkit-transform: translateX(-170px) scale(0.65);
            transform: translateX(-170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-5:checked ~ .slider__holder .slider__item--3 {
    opacity: 0;
  }
}

#slide-1:checked ~ .slider__holder .slider__item--4 {
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateX(210px) scale(0.65);
          transform: translateX(210px) scale(0.65);
}

#slide-2:checked ~ .slider__holder .slider__item--4 {
  z-index: 0;
  -webkit-transform: translateX(210px) scale(0.65);
          transform: translateX(210px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-2:checked ~ .slider__holder .slider__item--4 {
    -webkit-transform: translateX(170px) scale(0.65);
            transform: translateX(170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-2:checked ~ .slider__holder .slider__item--4 {
    opacity: 0;
  }
}

#slide-3:checked ~ .slider__holder .slider__item--4 {
  z-index: 1;
  -webkit-transform: translateX(100px) scale(0.85);
          transform: translateX(100px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--4 {
    opacity: 0.6;
  }
}

#slide-4:checked ~ .slider__holder .slider__item--4 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

#slide-5:checked ~ .slider__holder .slider__item--4 {
  z-index: 1;
  -webkit-transform: translateX(-100px) scale(0.85);
          transform: translateX(-100px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-5:checked ~ .slider__holder .slider__item--4 {
    opacity: 0.6;
  }
}

#slide-1:checked ~ .slider__holder .slider__item--5 {
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateX(210px) scale(0.65);
          transform: translateX(210px) scale(0.65);
}

#slide-2:checked ~ .slider__holder .slider__item--5 {
  z-index: -1;
  opacity: 0;
  -webkit-transform: translateX(210px) scale(0.65);
          transform: translateX(210px) scale(0.65);
}

#slide-3:checked ~ .slider__holder .slider__item--5 {
  z-index: 0;
  -webkit-transform: translateX(210px) scale(0.65);
          transform: translateX(210px) scale(0.65);
}

@media (max-width: 900px) {
  #slide-3:checked ~ .slider__holder .slider__item--5 {
    -webkit-transform: translateX(170px) scale(0.65);
            transform: translateX(170px) scale(0.65);
  }
}

@media (max-width: 768px) {
  #slide-3:checked ~ .slider__holder .slider__item--5 {
    opacity: 0;
  }
}

#slide-4:checked ~ .slider__holder .slider__item--5 {
  z-index: 1;
  -webkit-transform: translateX(100px) scale(0.85);
          transform: translateX(100px) scale(0.85);
}

@media (max-width: 768px) {
  #slide-4:checked ~ .slider__holder .slider__item--5 {
    opacity: 0.6;
  }
}

#slide-5:checked ~ .slider__holder .slider__item--5 {
  position: relative;
  z-index: 2;
  -webkit-transform: translate(0) scale(1);
          transform: translate(0) scale(1);
}

/*--------------------------------------------------------------
3.0 Bullets
--------------------------------------------------------------*/
.bullets__item {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#slide-1:checked ~ .bullets .bullets__item--1 {
  background: #f6af45;
}

#slide-2:checked ~ .bullets .bullets__item--2 {
  background: #f6af45;
}

#slide-3:checked ~ .bullets .bullets__item--3 {
  background: #f6af45;
}

#slide-4:checked ~ .bullets .bullets__item--4 {
  background: #f6af45;
}

#slide-5:checked ~ .bullets .bullets__item--5 {
  background: #f6af45;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Card
2.0 Slider
3.0 Bullets
4.0 Section
5.0 Button
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Card
--------------------------------------------------------------*/
.card {
  position: relative;
  display: block;
  border-radius: 8px;
  background: #fff;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
2.0 Slider
--------------------------------------------------------------*/
.slider {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.slider__radio {
  display: none;
}

.slider__holder {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .slider__holder {
    max-width: 540px;
  }
}

@media (max-width: 600px) {
  .slider__holder {
    margin-top: 60px;
  }
}

.slider__item {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  opacity: 1;
  cursor: pointer;
  background-color: #ebebeb;
  min-height: 300px;
}

.slider__item .slider-video-box {
  position: relative;
  width: 70%;
}

.slider__item .slider-video-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
}

.slider__item .slider-video-info li:last-child {
  margin-left: 15px;
}

.slider__item .slider-video-info h2 {
  color: #000;
  font-size: 18px;
}

.slider__item .slider-video-info p {
  color: #828282;
}

.slider__item .slider-content-box {
  text-align: left;
  padding: 0 10px;
  width: 30%;
}

.slider__item-content {
  padding: 40px;
}

@media (max-width: 600px) {
  .slider__item-content {
    padding: 32px 32px;
  }
}

@media (max-width: 375px) {
  .slider__item-content {
    padding: 40px 24px;
  }
}

.slider__item-text {
  padding: 60px 0;
}

/*--------------------------------------------------------------
3.0 Bullets
--------------------------------------------------------------*/
.bullets {
  z-index: 10;
  display: block;
  width: auto;
  height: 10px;
  height: 10px;
  margin: 20px 0;
  text-align: center;
}

@media (max-width: 600px) {
  .bullets {
    margin-top: 32px;
  }
}

.bullets__item {
  display: inline-block;
  width: 60px;
  height: 20px;
  margin: 0 4px;
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.bullets__item:hover {
  background: #f6af45;
}

/*--------------------------------------------------------------
4.0 Section
--------------------------------------------------------------*/
.section {
  position: relative;
  width: 100%;
  padding: 30px 0 100px;
  text-align: center;
}

.section__entry {
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
}

.section__entry--center {
  text-align: center;
}

.section__title {
  display: block;
  padding-bottom: 12px;
}

.section__text {
  display: block;
}

/*--------------------------------------------------------------
5.0 Button
--------------------------------------------------------------*/
.button {
  display: inline-block;
  height: 44px;
  padding: 12px 16px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
}

.button:hover {
  background: rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Labs bar
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 Labs bar
--------------------------------------------------------------*/
.labs-bar {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  left: 0;
  display: block;
  width: 100%;
  padding: 8px 0px;
  background: rgba(0, 0, 0, 0.2);
}

.labs-bar__inner {
  position: relative;
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.labs-bar__nav {
  position: relative;
  display: block;
  float: left;
}

.labs-bar__link {
  position: relative;
  display: inline-block;
  padding: 10px;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.labs-bar__link:hover:before {
  left: -16px;
}

.labs-bar__link:before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 24px;
  height: 14px;
  background-image: url("/images/general/arrow__right--white.svg");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  content: "";
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.labs-bar__branding {
  display: inline-block;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.labs-bar__logo {
  width: auto;
  height: 18px;
  margin-top: 5px;
  margin-left: 10px;
}

.labs-bar__logo:hover {
  opacity: 0.8;
}

.labs-bar__button {
  float: right;
  padding: 10px 16px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #fff;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.2);
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.labs-bar__button:hover {
  background: rgba(0, 0, 0, 0.1);
}
/*# sourceMappingURL=main.css.map */