.users-list {
  background-color: $bg-gray-color;
  border-bottom: 1px solid $white;
  overflow: auto;
  overflow-y: scroll;
  height: 100%;

  &::-webkit-scrollbar {
    display: none;
  }

  & > li {
    padding: 20px 15px;

    &:hover {
      background-color: $social-bg-color;
    }

    @media screen and (max-width: 921px) {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.user-details {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;

  & > .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: $white;
    border-radius: 50%;

    @media screen and (min-width: 570px) {
      width: 45px;
      height: 45px;
    }
    @media screen and (min-width: 922px) {
      margin-right: 15px;
    }
  }

  & > .name {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  @media screen and (max-width: 921px) {
    & > .name {
      display: none;
    }
  }
  @media screen and (max-width: 922px) {
    & > .status {
      display: none;
    }
  }
  @media screen and (max-width: 1199px) {
    & > .status {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateX(150%);
      opacity: 0;
      background-color: #fff;
      z-index: 9;
      padding: 3px;
      transition: all 250ms linear;
      pointer-events: none;
    }
    &:hover .status,
    &:focus .status {
      opacity: 1;
      transform: translate(50%, -50%);
    }
  }
  @media screen and (min-width: 1200px) {
    & > li:last-child {
      position: static;
      display: flex;
    }

    & .status {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }
}

.social-links {
  padding: 20px;
  background-color: $bg-gray-color;

  @media screen and (max-width: 921px) {
    padding: 0;
  }
}
.social-contacts {
  & li:not(:last-child) {
    margin-bottom: 15px;
  }

  & a {
    transition: all 250ms linear;
  }

  & a:hover,
  & a:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-around;
    width: 100%;

    & li:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
.pulse {
  background: $red-color;
  border-radius: 50%;
  box-shadow: 0 0 0 0 $red-pulse-color;
  margin: 5px;
  height: 10px;
  width: 10px;
  transform: scale(1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 $red-pulse-color;
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 3px $red-pulse-color;
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 $red-pulse-color;
  }
}
.social-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  background-color: $social-bg-color;

  & p {
    margin-bottom: 20px;
    text-align: center;

    @media screen and (max-width: 921px) {
      display: none;
    }
  }
  & p::selection {
    background-color: $accent-color;
  }
}
