html {
  height: 100%;
}
body {
  margin: 0;
  color: $primary-color;
  font-family: $body-font-fam;
  letter-spacing: $body-let-spacing;
  font-size: $body-font-size;
  line-height: $body-line-heit;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex: 1 1;
  position: relative;
}
.wrapper {
  display: flex;
  height: 100%;
}
.container {
  padding: 0 15px;
}
aside {
  max-width: 280px;
  width: 16%;
  display: flex;
  flex-direction: column;
}
.container.content {
  width: 84%;
  padding: 15px;
}
@media screen and (max-width: 1199px) {
  .section.slider {
    display: none;
  }
}
