.filter {
  display: flex;
  padding: 10px 0;
  flex-wrap: nowrap;
  overflow: auto;
  overflow-x: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  & li:first-child button {
    @include active-btn($accent-color, $white);
  }
  & li:not(:last-child) {
    margin-right: 20px;
  }

  & button {
    padding: 6px 15px;
    border-radius: 15px;
    font-weight: 700;
    cursor: pointer;
    background-color: $bg-gray-color;
    border: 1px solid $filters-border-color;
    transition: all 250ms linear;
  }
  & button:hover,
  & button:focus {
    @include active-btn($accent-color, $white);
  }
}
