header {
  position: relative;
  box-shadow: 0px 5px 5px -5px $shadow-color;

  & > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &-text {
    font-size: 14px;
    color: $accent-color;

    @media screen and (min-width: 571px) {
      font-size: 36px;
    }
  }
  @media screen and (min-width: 922px) {
    &-text {
      font-size: 42px;
    }
  }
  &-wrap a {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 0;

    @media screen and (min-width: 571px) {
      flex-direction: row;
    }
  }
}

.search {
  &-wrap {
    display: flex;
    max-width: 600px;
    width: 40%;

    @media screen and (min-width: 570px) {
      position: static;
      opacity: 1;
    }
  }

  &-form {
    position: relative;
    margin-right: 10px;
    width: 100%;
  }

  &-input {
    min-width: 150px;
    width: 100%;
    background-color: $white;
    padding: 10px 15px;
    border-radius: 4px;
    border: 1px solid $search-input-border;

    @media screen and (max-width: 420px) {
      display: none;
    }
  }

  &-input:focus {
    box-shadow: 0px 0px 5px $accent-color;
    outline: none;
  }
}
.submit {
  &-search {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 10px;
    border: none;
    background-color: $search-input-border;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
  }

  &-voice {
    padding: 0;
    background-color: inherit;
    border: none;
    cursor: pointer;
  }
}
.menu-wrap {
  display: flex;
  align-items: center;
}

.box-bell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.box-pawprint {
  @extend .box-bell;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background-color: $accent-color;
  border-radius: 50%;
  transition: all 250ms linear;
}

.dropdown {
  &-menu-item {
    position: relative;

    &:hover > .box-pawprint,
    &:focus > .box-pawprint {
      background-color: $filters-border-color;
    }
    &:hover > .dropdown-menu,
    &:focus > .dropdown-menu {
      opacity: 1;
      pointer-events: visible;
    }
  }
  &-menu {
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid $filters-border-color;
    border-radius: 4px;
    opacity: 0;

    transition: all 250ms linear;
    background-color: $white;
    pointer-events: none;
    z-index: 1;

    &-item {
      padding-bottom: 5px;
    }

    & > li {
      display: flex;
      align-items: center;
      padding: 5px 15px;
      color: $primary-color;
      border-bottom: 1px solid $filters-border-color;
      transition: all 250ms linear;

      & > svg {
        margin-right: 10px;
        transition: all 250ms linear;
      }

      & > a {
        color: inherit;
        transition: all 250ms linear;
      }
    }

    & > li:hover,
    & > li:focus {
      background-color: $filters-border-color;
    }
    & > li:hover > svg,
    & > li:focus > svg {
      fill: $red-color;
    }
    & > li:hover > a,
    & > li:focus > a {
      color: $red-color;
    }

    & > li:last-child {
      border-bottom: none;
    }
  }
}
