video,
iframe {
  width: 100%;
  height: 100%;
  min-height: 230px;
}
.video {
  &-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;

    @media screen and (max-width: 420px) {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
  }

  &-content {
    padding: 15px 15px 0 5px;

    & > ul {
      display: flex;
      align-items: center;

      & li:first-child {
        margin-right: 15px;
      }
      & li:last-child {
        margin-left: auto;
      }
    }

    & h2,
    & p {
      @include video-text($text-gray-color);
      overflow: hidden;
      text-overflow: ellipsis;
    }
    & h2 {
      @include video-title($black);
    }
  }
}
.dots {
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $black;

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: $black;
  }
  &::before {
    top: 130%;
  }
  &:after {
    bottom: 130%;
  }
}
.preview {
  position: relative;
  min-height: 230px;

  &:hover .overlay {
    transform: translateY(0);
    opacity: 1;
    // pointer-events: none;
  }
}
.poster-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.img-chek {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  appearance: none;
  cursor: pointer;

  &:checked {
    display: none;
  }

  &:checked + .poster-box,
  &:checked ~ .overlay {
    display: none;
  }
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay-color;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition: all 250ms linear;
}
.icon-pawprint-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $white;
}
.live {
  position: absolute;
  top: 6px;
  left: 6px;
  padding: 0 6px;
  border-radius: 3px;
  background-color: $red-color;
  text-transform: uppercase;
  color: $white;
  z-index: 1;
}
.viewers-count,
.time-info {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 0 10px;
  border-radius: 3px;
  background-color: $shadow-color;
  color: $white;
  z-index: 1;
}
