/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Labs bar
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Labs bar
--------------------------------------------------------------*/

.labs-bar {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  left: 0;

  display: block;

  width: 100%;
  padding: 8px 0px;

  background: rgba($black, 0.2);

  // .labs-bar__inner
  &__inner {
    position: relative;

    display: block;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  // .labs-bar__nav
  &__nav {
    position: relative;

    display: block;
    float: left;
  }

  // .labs-bar__link
  &__link {
    position: relative;

    display: inline-block;

    padding: 10px;
    padding-left: 30px;

    font-size: 12px;
    font-weight: 700;
    line-height: 20px;

    color: $white;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    // .labs-bar__link:hover
    &:hover {
      // .labs-bar__link:hover:before
      &:before {
        left: -16px;
      }
    }

    // .labs-bar__link:before
    &:before {
      position: absolute;
      top: 50%;
      left: 0;

      display: block;

      width: 24px;
      height: 14px;

      background-image: url("/images/general/arrow__right--white.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover;

      content: "";
      transform: translateY(-50%);

      @include default-transition();
    }
  }

  // .labs-bar__ branding
  &__branding {
    display: inline-block;

    font-size: 20px;
    line-height: 20px;

    color: $white;
  }

  // .labs-bar__logo
  &__logo {
    width: auto;
    height: 18px;
    margin-top: 5px;
    margin-left: 10px;

    // .labs-bar__logo:hover
    &:hover {
      opacity: 0.8;
    }
  }

  // .labs-bar__button
  &__button {
    float: right;

    padding: 10px 16px;

    font-size: 12px;
    font-weight: 700;
    line-height: 20px;

    color: $white;
    border-radius: 3px;
    background: rgba($black, 0.2);

    letter-spacing: 0.5px;
    text-transform: uppercase;

    // .labs-bar:hover
    &:hover {
      background: rgba($black, 0.1);
    }
  }
}
