/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 HTML Settings
2.0 General Settings
3.0 Heading 2
4.0 Serif
5.0 Heading 3
6.0 Text
7.0 Links
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 HTML settings
--------------------------------------------------------------*/

html {
  -webkit-overflow-scrolling: touch;

  box-sizing: border-box;

  -webkit-tap-highwhite-color: transparent;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/*--------------------------------------------------------------
7.0 Links
--------------------------------------------------------------*/

.link {
  position: relative;

  display: inline-block;

  font-weight: 600;

  // color: $significa;

  //.text--link:after
  &:after {
    position: absolute;
    top: 50%;
    right: -32px;

    display: block;

    width: 24px;
    height: 14px;

    background-image: url("../images/slider/arrow__right--blue.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    content: "";

    @include translateY();
    @include default-transition();
  }

  //.text--link:hover
  &:hover {
    //.text--link:hover:after
    &:after {
      right: -48px;
    }
  }
}
