@mixin default-transition($param: all) {
  transition: $param $normal-transition-time $default-ease;
}

@mixin translateX($value: -50%) {
  transform: translateX($value);
}

@mixin translateY($value: -50%) {
  transform: translateY($value);
}

@mixin translateXY($value: -50%) {
  transform: translate($value, $value);
}
@mixin video-title($color) {
  color: $color;
  font-size: 18px;
}
@mixin video-text($color) {
  color: $color;
}
@mixin active-btn($color1, $color2) {
  background-color: $color1;
  border: 1px solid $color1;
  color: $color2;
}
