$primary-color: #212121;
$red-color: #ff0000;
$red-pulse-color: rgba(255, 99, 71, 0.6);
$accent-color: #f6af45;
$bg-gray-color: #ebebeb;
$text-gray-color: #828282;
$filters-border-color: #b4b3b3;
$search-input-border: #dcdcdc;
$shadow-color: rgba(34, 60, 80, 0.6);
$overlay-color: rgba(34, 60, 80, 0.4);
$social-bg-color: #dfdfdf;

$body-font-fam: Raleway, sans-serif;
$body-font-size: 14px;
$body-let-spacing: 0.03em;
$body-line-heit: 1.7;

$white: #fff;
$black: #000;
$night: #3e4954;
$aluminum: #848995;
$moon: #e9eff5;
$light: #f5f7f9;

$normal-transition-time: 0.2s;
$default-ease: ease;
